[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.1.5"
djangorestframework = "==3.12.2"
django-autoslug = "==1.9.8"
pylint = "*"
pylint-django = "*"

[dev-packages]

[requires]
python_version = "3.8"
